	<!DOCTYPE html>
	{% load static %}
	<html lang="en" class="no-js">
	    <head>
		    <title>Home | S.A.M.S</title>
		    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'Master/css/linearicons.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/jquery-ui.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/owl.carousel.css' %}">
            <link rel="stylesheet" href="{% static 'Master/css/main.css' %}">
        </head>
		<body>	
		    <header id="header">
                <div class="container main-menu">
                    <div class="row align-items-center justify-content-between d-flex">
                        <div id="logo">
                            <a href="/"><img src="{% static 'images/illustrations/logo.png' %}" alt="" title="" /></a>
                        </div>
                        <nav id="nav-menu-container">
                            <ul class="nav-menu">
                                    <li><a href="/" style="color:#8490ff;"> Home </a></li>
                                {% if request.user.is_authenticated %}
                                    <li class="menu-has-children"><a href="/"> Mark Attendance </a>
										<ul>
											{% for course_id in course_list %}
                                            <li><a href="/mark_attendance/{{course_id}}/">{{ course_id }}</a></li>
											{% endfor %}
                                        </ul>
									</li>
                                    <li><a href="/view/"> View Attendance </a></li>
                                    <li class="menu-has-children"><a href="/"> Timetable </a>
                                        <ul>
                                            <li class="menu-has-children"><a href="/">Year 1</a>
                                                <ul>
                                                    <li><a href="/timetable/{{ dep_id }}/sem1/">Sem 1</a></li>
                                                    <li><a href="/timetable/{{ dep_id }}/sem2/">Sem 2</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-has-children"><a href="/">Year 2</a>
                                                <ul>
                                                    <li><a href="/timetable/{{ dep_id }}/sem3/">Sem 3</a></li>
                                                    <li><a href="/timetable/{{ dep_id }}/sem4/">Sem 4</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-has-children"><a href="/">Year 3</a>
                                                <ul>
                                                    <li><a href="/timetable/{{ dep_id }}/sem5/">Sem 5</a></li>
                                                    <li><a href="/timetable/{{ dep_id }}/sem6/">Sem 6</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-has-children"><a href="/">Year 4</a>
                                                <ul>
                                                    <li><a href="/timetable/{{ dep_id }}/sem7/">Sem 7</a></li>
                                                    <li><a href="/timetable/{{ dep_id }}/sem8/">Sem 8</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                    <li><a href="/contact/"> Contact </a></li>
                                {% if request.user.is_authenticated %}
                                    <li><a href="/accounts/logout/" class="genric-btn danger radius small"> Logout </a></li>
                                {% else %}
                                    <li><a href="/login/" class="genric-btn danger radius small"> Login </a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
			    <section class="banner-area">
				    <div class="container">
					    <div class="row fullscreen align-items-center justify-content-between">
						    <div class="col-lg-6 col-md-6 banner-left">
							    <br>
							    <h6 style="color:#ffffff"><br>This is</h6>
							    <h1 style="color:#ffffff">S.A.M.S</h1>
							    <p style="color:#ffffff">
								    <br>
								    S.A.M.S is an Attendance Monitoring System which aims to minimize paperwork and save
								    time by automating the traditional way of taking attendance, generate necessary
								    timely reports & provide an interface for the Faculties to monitor the Child’s
								    attendance to the college and decide upon the further actions required.<br><br>
								    Read the docs to get started.
							    </p>
							    <a href="https://github.com/CaptainDynamight/SAMS/blob/master/README.md" class="primary-btn text-uppercase">Get Started</a>
						    </div>
						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-center">
							<img class="img-fluid" src="{% static 'images/illustrations/crop.gif' %}" alt="">
						</div>
					</div>
				</div>					
			</section>
		    <section class="banner-area1">
                <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
								<br><br><br>
		                        <h1 class="mb-10">BENEFITS</h1>
		                        <p>The Benefits of adopting an automated Attendance System are as follows.</p>
		                    </div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-book"></span>
								<a><h4>Paperwork</h4></a>
								<p>
									New/Existing attendance documents amount to stack of paperwork that needs to be stored, maintained and processed to obtain any valuable information. Automated systems can eliminate those stacks of paper.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-envelope"></span>
								<a><h4>Alerts</h4></a>
								<p>
									When you use an online attendance monitoring system for students it becomes easier to send automatic alerts to the parents if their wards are not attending the college.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-cloud-sync"></span>
								<a><h4>Automated Reports</h4></a>
								<p>
									Quite often teachers have to access the attendance reports of their students on an urgent basis. Using attendance monitoring system you basically make sure that reports can be created with just a click of your button.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-history"></span>
								<a><h4>Fast & Effective</h4></a>
								<p>
									Adopting automated attendance monitoring system will help save time and money by eliminating a great deal of manual processes involved in attendance and leave entry and calculating hours attended.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-database"></span>
								<a><h4>Data Storage</h4></a>
								<p>
									With a single sign-on, faculties can access their own self-service accounts, along with a lot of other data in one place.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-pushpin"></span>
								<a><h4>Accuracy</h4></a>
								<p>
									Since the attendance is automated, you can be sure that the data is accurate and error-free. Once the attendance is marked, the captured data gets stored and can be viewed later.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="home-about-area pt-120">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src="{% static 'images/illustrations/about.png' %}" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>About Me</h6>
							<h1 class="text-uppercase">Vinod G</h1>
							<p>
								1RI17CS050<br>
								5th Sem, CSE<br>
								RRIT-Bangalore<br>
								Contact : 7899826630<br>
								Email Id: weknowthatvinod@Gmail.com<br>
							</p>
							<a href="https://github.com/CaptainDynamight" class="primary-btn text-uppercase">My Github</a>
							<br><br><br>
						</div>
					</div>
				</div>	
			</section>
			<script src="{% static 'Master/js/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'Master/js/popper.min.js' %}"></script>
			<script src="{% static 'Master/js/bootstrap.min.js' %}"></script>
  			<script src="{% static 'Master/js/easing.min.js' %}"></script>
			<script src="{% static 'Master/js/hoverIntent.js' %}"></script>
			<script src="{% static 'Master/js/superfish.min.js' %}"></script>
			<script src="{% static 'Master/js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'Master/js/jquery.magnific-popup.min.js' %}"></script>
    		<script src="{% static 'Master/js/jquery.tabs.min.js' %}"></script>
			<script src="{% static 'Master/js/jquery.nice-select.min.js' %}"></script>
            <script src="{% static 'Master/js/isotope.pkgd.min.js' %}"></script>
			<script src="{% static 'Master/js/waypoints.min.js' %}"></script>
			<script src="{% static 'Master/js/jquery.counterup.min.js' %}"></script>
			<script src="{% static 'Master/js/simple-skillbar.js' %}"></script>
			<script src="{% static 'Master/js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'Master/js/mail-script.js' %}"></script>
			<script src="{% static 'Master/js/main.js' %}"></script>
		</body>
	</html>
